
<% unless user_signed_in? %>
<div class="container">
  <div class="jumbotron">
    <h1>Homepolish Social Media</h1>
    <p>Data Analytics Tool</p>
    <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p> -->
    <ul class="signup">
      <li><%= button_to 'Sign up', new_user_registration_path, :class => "btn btn-default btn-lg", :method => :get %></li>
      <li><%= button_to 'Login', new_user_session_path,:class => "btn btn-default btn-lg", :method => :get%></li>
    </ul>
  </div>
</div>
<% end %>