@import "/bootstrap/css/bootstrap.min.css";

<<<<<<< HEAD
/*Homepage*/

=======
>>>>>>> 25d149cc11f0804367ca62eafc2bf7334fa0fa6e
body {
  background: url(./homepage.jpeg) no-repeat center center fixed;
  background-size: cover;
}

<<<<<<< HEAD
=======
// .homepage {
//   margin: 0 auto;
//   color: #08b89f; 
//   background: rgba(0, 0, 0, .8);
//   width: 500px;
//   padding: 10px;
//   text-align: center;
//   position: relative;
// }
>>>>>>> 25d149cc11f0804367ca62eafc2bf7334fa0fa6e

.jumbotron {
  margin-top: 18%;
  text-align: center;
  background: rgba(0, 0, 0, .5);
  color: #08b89f;
}

.signup li {
  display: inline-block;
}

btn btn-primary btn-lg{
  background-color: grey;
}

.navbar {
  background-color: #08b89f;
}

.navbar-default .navbar-brand, {
  color: white;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default p.navbar-text{
  color: white;
}