// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-wrapper {
  border: 1px solid black;
  background-color: rgba(0,0,0,.6);
  overflow: auto;
  color: white;
  margin-top: -25px;
}

.main-wrapper a {
  color: #08B89F;
}

.main-wrapper ol li {
  text-shadow: 1px 1px black;
}


.left-box, .right-box {
    float: left;
    width: 48%;
    padding: 10px;
}
.right-box {
    border-left:1px solid #999;
}
.box h2 {
    // background-color: #D8E9E6;

    background-color: #D8E9E6;

    border-top: thin solid #97b4e0;
    border-bottom: thin solid #97b4e0;
}

.authentication {
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}
