// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-box, .right-box {
    float: left;
    width: 48%;
    padding: 10px;
}
.right-box {
    border-left:1px solid #999;
}
.box h2 {
    background-color: #D8E9E6;
    border-top: thin solid #97b4e0;
    border-bottom: thin solid #97b4e0;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h1{
  color: red;
}